<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Reuse.iT</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/static/favicon.png" rel="icon">
  <link href="/static/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700|Open+Sans:300,300i,400,400i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/static/bootstrap.min.css" rel="stylesheet">
  <link href="/static/ionicons.min.css" rel="stylesheet">
  <link href="/static/animate.min.css" rel="stylesheet">
  <link href="/static/font-awesome.min.css" rel="stylesheet">
  <link href="/static/venobox.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/static/style.css" rel="stylesheet">
 


</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <h1><a href="index" class="scrollto">Reuse.iT</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt=""></a> -->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="index">Home</a></li>
          <li><a href="#about">About Us</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- End Header -->

  <!-- ======= Intro Section ======= -->
  <section id="intro">

    <div class="intro-text">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br><br>
      <h2>Welcome to Reuse.iT</h2>
      <br>
      <p>We are team of talented designers that are helping people to recycle and reuse their trash
        <br>
      </p>
      <!-- <span class="section-divider"></span> -->

      <br>
      <br>
      <a href="login" class="btn-get-started " class="login">Login</a>
      <a href="signup" class="btn-get-started" class="Sign Up">Sign Up</a>
    </div>


  </section><!-- End Intro Section -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="section-bg">
      <div class="container-fluid">
        <div class="section-header">
          <h3 class="section-title">About Us</h3>
          <span class="section-divider"></span>
          <p class="section-description">
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, rerum.
          </p>
        </div>

      </div>
    </section><!-- End About Section -->

  </main><!-- End #main -->



  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="/static/jquery.min.js"></script>
  <script src="/static/bootstrap.bundle.min.js"></script>
  <script src="/static/jquery.easing.min.js"></script>
  <script src="/static/php-email-form/validate.js"></script>
  <script src="/static/wow/wow.min.js"></script>
  <script src="/static/venobox.min.js"></script>
  <script src="/static/superfish.min.js"></script>
  <script src="/static/hoverIntent.js"></script>

  <!-- Template Main JS File -->
  <script src="/static/main.js"></script>

</body>

</html>