<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Home-page</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="/static/favicon.png" rel="icon">
    <link href="/static/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700|Open+Sans:300,300i,400,400i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/static/bootstrap.min.css" rel="stylesheet">
    <link href="/static/ionicons.min.css" rel="stylesheet">
    <link href="/static/animate.min.css" rel="stylesheet">
    <link href="/static/font-awesome.min.css" rel="stylesheet">
    <link href="/static/venobox.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/static/style_home.css" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">

</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header">
        <div class="container">

            <div id="logo" class="pull-left">
                <h1><a href="index" class="scrollto">Reuse.iT</a></h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="index.html"><img src="assets/img/logo.png" alt=""></a> -->
            </div>

            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class="menu-active"><a href="index.html">Home</a></li>
                    <li><a href="./index.html#about">About Us</a></li>
                    <li><a href="#more-features">Features</a></li>
                    <li><a href="user_guide">User Guide</a></li>
                    <li><a href="logout">Log Out</a></li>
                </ul>
            </nav><!-- #nav-menu-container -->
        </div>
    </header><!-- End Header -->

    <main id="main">

        <!-- ======= Breadcrumbs Section ======= -->
        <section class="breadcrumbs">
        </section><!-- End Breadcrumbs Section -->


    </main><!-- End #main -->

    <!-- ======= More Features Section ======= -->
    <section id="more-features" class="section-bg">
        <div class="container">

            <div class="section-header">
                <h3 class="section-title">Features</h3>
                <span class="section-divider"></span>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="box wow fadeInLeft">
                        <div class="icon" id='icon1'><i class="fas fa-camera"></i></div>
                        <h4 name="camera1"><a href="camera_page" >Upload Image</a></h4>
                        <p class="description">Upload picture of single item you want to reuse or recycle. Based on
                            which we will provide to appropiate information of what and how you can manage your trash.
                        </p>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="box wow fadeInRight">
                        <div class="icon" id='icon1'><i class="fas fa-map-marker-alt"></i></div>
                        <h4 name="Drop-off"><a href="dropoff_centers">Near by Drop-off centers</a></h4>
                        <p class="description">List of recycle centers or old paper present near you where you can go
                            and drop you trash.</p>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="box wow fadeInLeft">
                        <div class="icon" id='icon1'><i class="far fa-heart"></i></div>
                        <h4 name="Donate"><a href="ngo_list">Donate to NGO</a></h4>
                        <p class="description">If you want to donate these segregated trash to NGO's.Here are list of
                            NGO's that you can contact</p>
                    </div>
                </div>

                <div class="col-lg-6" >
                    <div class="box wow fadeInRight">
                        <div class="icon" id="icon1"><i class="far fa-trash-alt"></i></div>
                        <h4 name="recycle"><a href="recycle">My Scrap Record</a></h4>
                        <p class="description">If you wish to recycle your product, provide appropriate information
                            about your trash.</p>
                    </div>
                </div>

            </div>
        </div>
    </section><!-- End More Features Section -->

    <!-- Vendor JS Files -->
    <script src="/static/jquery.min.js"></script>
    <script src="/static/bootstrap.bundle.min.js"></script>
    <script src="/static/jquery.easing.min.js"></script>
    <script src="/static/validate.js"></script>
    <script src="/static/wow.min.js"></script>
    <script src="/static/venobox.min.js"></script>
    <script src="/static/superfish.min.js"></script>
    <script src="/static/hoverIntent.js"></script>

    <!-- Template Main JS File -->
    <script src="/static/main.js"></script>

</body>

</html>